[DEFAULT]
dist: dasyatis

[dasyatis]
seeds: minimal standard gnome kde fvwm-nightshade
dists: dasyatis staging
architectures: i386 amd64
seed_base: ./seed
#seed_base: http://people.debian.org/~mak/tanglu/seeds/
archive_base/default: http://archive.tanglu.org/tanglu/
components: main

[chromodoris]
seeds: minimal standard gnome kde fvwm-nightshade
dists: chromodoris
architectures: i386 amd64
seed_base: ./seed
#seed_base: http://people.debian.org/~mak/tanglu/seeds/
archive_base/default: http://archive.tanglu.org/tanglu/
components: main contrib

[bartholomea]
seeds: minimal standard gnome kde
dists: bartholomea
architectures: i386 amd64
seed_base: ./seed
#seed_base: http://people.debian.org/~mak/tanglu/seeds/
archive_base/default: http://archive.tanglu.org/tanglu/
components: main contrib

[aequorea]
seeds: minimal standard gnome kde
dists: aequorea
architectures: i386 amd64
seed_base: ./seed
#seed_base: http://people.debian.org/~mak/tanglu/seeds/
archive_base/default: http://archive.tanglu.org/tanglu/
components: main contrib
